body{
    display:flex;
    align-items: center;
}
#content{
    max-height:400px;
    width : 80%;
    margin : 0 auto;
    padding : 5vw ;
    display : flex;
    align-items: center;

}
#content > section{
    justify-content: center;
}
#content .row.colset-2-its > h1{
    padding-top: 0;
    margin-top: 0;
}